@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;600&family=Roboto:wght@300;400&display=swap");
/*  rgb(32, 150, 119) */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoModerno", cursive;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

img {
  display: block;
}

/*------- GLOBAL -------*/
h2 {
  text-align: center;
  font-size: 3.5rem;
}

/*------- BOOTSTRAP CLASS -------*/
/*---------------------------------*/
/* navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar img {
  width: 150px;
}

.navbar .nav-link {
  text-transform: uppercase;
  color: #209677;
  font-weight: 600;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.navbar .nav-link.active, .navbar .nav-link:hover {
  background-color: #209677;
  color: #fff;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url(../img/header.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 67vh;
  margin-bottom: 120px;
}

header.blog {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url(../img/blog-header.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/blog-header.jpg);
  margin-bottom: 0px;
  height: 48vh;
}

header.blog > div {
  margin-bottom: 0px;
  background: none;
}

header.blog > div h1 {
  background-color: rgba(61, 184, 156, 0.9);
  padding: 30px;
}

header.kontakt {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url(../img/header-kontakt.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/header-kontakt.jpg);
  margin-bottom: 0px;
}

header.kontakt > div {
  margin-bottom: 0px;
  background: none;
}

header.kontakt > div h1 {
  background-color: rgba(61, 184, 156, 0.9);
  padding: 30px;
}

header > div {
  background-color: #3db89c;
  color: #fff;
  padding: 40px 20px;
  position: relative;
  margin-bottom: -120px;
}

header > div h1 {
  font-size: 3.5rem;
}

@media (max-width: 769px) {
  header > div h1 {
    font-size: 2.5rem;
  }
}

header > div p {
  font-size: 1.3rem;
}

/* usluge */
.usluge .card {
  width: 18rem;
}

@media (max-width: 769px) {
  .usluge .card {
    width: 100%;
  }
}

.usluge h2::after {
  content: "";
  display: block;
  width: 100px;
  margin: 20px auto 0;
  height: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#209677));
  background: linear-gradient(to right, #fff, #209677);
}

/* footer */
footer {
  padding: 42px 0;
  background-color: #3db89c;
}

footer .col-md-4 h3 {
  background-color: #fff;
  display: inline-block;
  padding: 5px 20px;
  line-height: 1;
  margin-bottom: 30px;
}

footer .col-md-4 p,
footer .col-md-4 li,
footer .col-md-4 i {
  font-size: 1.1rem;
  color: #fff;
}

footer .col-md-4 i {
  font-size: 2.2rem;
  margin-right: 10px;
}

footer hr {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 50px 0;
}

footer hr + p {
  text-align: center;
  color: #fff;
}

/* kontaktforma */
.kontaktforma form {
  background-color: #3db89c;
  padding: 50px;
  margin-top: -170px;
}

@media (max-width: 769px) {
  .kontaktforma form {
    padding: 20px;
  }
}

/* blogPost */
.blogPost .card {
  background-color: transparent !important;
  border: none;
  margin-bottom: 150px;
}

.blogPost .card-body {
  background-color: #3db89c;
  margin: -105px 40px 0;
  padding: 25px;
  color: #fff;
}

@media (max-width: 769px) {
  .blogPost .card-body {
    margin: -105px 0px 0;
  }
}

.blogPost .card-title {
  font-size: 2rem;
}

.blogPost aside div {
  border: 2px solid #209677;
  padding: 20px;
  margin-bottom: 20px;
}

.blogPost aside div a {
  color: #209677;
}

/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/*# sourceMappingURL=style.css.map */